#mascota {
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 48px;
  height: 48px;
  background-image: url("img/mascota.gif"); /* sprite pixel */
  background-size: cover;
  image-rendering: pixelated;
  z-index: 9999;
}

